Redirect /ecamm-live-first-facebook-live/index.html /ecamm-live-first-facebook-live/001-introduction/
Redirect /ecamm-live-manual/index.html /ecamm-live-manual/001-welcome/
Redirect /index.html /ecamm-live-manual/001-welcome/