<footer role="contentinfo">
<div class="wrapper clear">
	<div class="col-3">
		<h3>Company</h3>

		<ul>
			<li><a href="//www.ecamm.com/about/">About Us</a></li>
			<li><a href="//www.ecamm.com/mac/">Products</a></li>
			<li><a href="//www.ecamm.com/contact/">Contact</a></li>
		</ul>
	</div>

	<div class="col-3">
		<h3>Products</h3>

		<ul>
			<li><a href="//www.ecamm.com/mac/callrecorder/">Call Recorder for Skype</a></li>
			<li><a href="//www.ecamm.com/mac/cardraider/">CardRaider</a></li>
			<li><a href="//www.ecamm.com/mac/ecammlive/">Ecamm Live</a></li>
			<li><a href="//www.ecamm.com/mac/iglasses/">iGlasses</a></li>
			<li><a href="//www.ecamm.com/mac/phoneview/">PhoneView</a></li>
		</ul>
	</div>

	<div class="col-3">
		<h3>Help</h3>

		<ul>
			<li><a href="//www.ecamm.com/support/">Support</a></li>
		</ul>
	</div>

	<div class="col-3">
		<h3>Follow</h3>

		<ul>
			<li><a href="https://www.facebook.com/EcammNetwork">Facebook</a></li>
			<li><a href="https://twitter.com/ecammtweets">Twitter</a></li>
		</ul>
	</div>
</div>

<div class="notwrapper">
	<div class="footer-logo"><a href="//www.ecamm.com/"><img src="//www.ecamm.com/images/footer-logo_@2x.png"></A></div>

	<script>
		var currentYear = ( new Date ).getFullYear();

		jQuery( document ).ready( function() {
			jQuery( '.year' ).text( ( new Date ).getFullYear() );
		});
	</script>

	<p>&copy;<span class="year">2019</span> Ecamm Network, LLC <span class="terms-conditions"><a href="//www.ecamm.com/terms/">Terms &amp; Conditions</a></span></p>
</div>
</footer>