.wrapper {
	margin: 0 auto;
	position: relative;
	width: 960px;
	padding-left:40px;
	padding-right:40px;
}

header[role=banner] {
	left: 0;
	padding: 1.25em 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	-moz-transition: all 0.25s ease-in-out 0s;
	-ms-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
	transition: all 0.25s ease-in-out 0s;
}

@media only screen and (min-width: 999px) {
header[role=banner] {
	
	position: fixed;
}
}

.white-header {
	background-color: #fff;
}
.logo {
	float: left;
	margin-top: 0.3125em;
	position: relative;
	width: 9.6875em;
}
.logo a {
	display: block;
}

/*----------------------------------------------------------------------------*/
/* Main Navigation
/*----------------------------------------------------------------------------*/

nav[role=navigation] {
	float: right;
	position: relative;
}
nav[role=navigation] ul {
	font-size: 0.75em;
	font-weight: 700;
	letter-spacing: 0.16666667em;
	line-height: 1.66666667;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
	text-transform: uppercase;
}
nav[role=navigation] li {
	float: left;
	margin: 0 0 0 2.08333333em;
}
nav[role=navigation] li:first-child {
	margin: 0;
}
nav[role=navigation] li a,
nav[role=navigation] li a:visited {
	color: #272a2b;
	display: block;
	margin-top: 1.25em;
}
nav[role=navigation] li a:hover,
nav[role=navigation] li a:active {
	color: #afb0b1;
	text-decoration: none;
}
nav[role=navigation] li.shop-button a,
nav[role=navigation] li.shop-button a:visited {
	background-color: #f48022;
	border-bottom: 0.25em solid #c6681c;
	color: #fff;
	margin-top: 0;
	padding: 1.25em 2.08333333em;
	-webkit-border-radius: 0.33333333em;
	border-radius: 0.33333333em
}
nav[role=navigation] li.shop-button a:hover,
nav[role=navigation] li.shop-button a:active {
	background-color: #f26a22;
	border-bottom-color: #c2551b;
	color: #fff;
}

/*----------------------------------------------------------------------------*/
/* Opaque Header
/*----------------------------------------------------------------------------*/

header.opaque-header {
	background-color: rgba(255, 255, 255, 1.0);
	padding: 0.625em 0;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.2);
}
.opaque-header .logo {
	margin-top: 0;
}
.opaque-header nav[role=navigation] li a {
	margin-top: 1em;
}
.opaque-header nav[role=navigation] li.shop-button a {
	margin-top: 0;
	padding-bottom: 0.83333333em;
	padding-top: 0.83333333em;
}

