/* kbd, samp, ins, :before style for inserting images describing menus */

kbd {
	display: inline-block;
	color: #fff;
	font-family: $system-font-family;
	font-size: $type-size-5-5;
	background: rgba(48,51,54,.85);
	border-radius: .3em;
	line-height: 1.5em;
	margin-right:1px;
  padding: 0 .25em;
	}

samp,
ul samp,
li > samp {
	display: inline-block;
	padding: 0 .25em;
	line-height: 1.5em;
	color: rgba(4,15,26,.8);
	font-family: $system-font-family;
	font-size: $type-size-5-5;
	background: rgba(38,52,74,.05);
	border: 1px solid rgba(38,52,74,.05);
	border-radius: .25em;
	}

samp.uielement::before {
	content: '';
	display: inline-block;
	width: 29px;
	height: 20px;
	}

samp.uielement.sound-levels::before {
	background-image:url(/assets/img/sound-levels.png);
	background-repeat:no-repeat;
	background-size: 29px 20px;
	background-position: bottom -3px;
	margin-bottom: -0.25em;
}

span.inline_icon {
	display: inline-block;
	margin-right: 0.2em;
	margin-left: 0.2em;
	vertical-align:middle;
}

span.inline_icon.graybutton {
	background: rgba(120,120,120,.7);
	background-repeat:no-repeat;
	background-position: center;
	background-size: 50%;
	padding: 1em;
	border: 0px;
	border-radius: .2em;
}

span.inline_icon.inverted {
	background-repeat:no-repeat;
	background-position: center;
	background-size: 50%;
	margin-right: -0.3em;
	margin-left: -0.3em;
	padding: 0.5em 1em 0.5em 1em;
	-webkit-filter: invert(100);
	-moz-filter: invert(100);
	-o-filter: invert(100);
	-ms-filter: invert(100);
	filter: invert(100);
}
